@import '../../scss/variables';

.InfoBlock {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/bgImage.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1170px;
    min-height: 650px;
    margin: 0 auto 140px;
    position: relative;

    @media (max-width: 1024px) {
        min-height: 500px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../assets/img/bgImageSmall.jpg');
    }

    &>div {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 380px;
        text-align: center;
        z-index: 4;

        @media (max-width: 412px) {
            padding: 0px 16px;
        }

        h2,
        p {
            color: $white ;
        }

        h2 {
            margin-bottom: 21px;
        }

        p {
            margin-bottom: 32px;
        }
    }
}
