@import '../variables';

  button{
    width: 100px;
    height: 34px;
    border-radius: 80px;
    background: $btnNormal;
    border: none;
    cursor: pointer;
    transition: .4s;

    &:hover{
      background: $btnHover;
    }
  }

  .disabled{
    cursor: not-allowed;
    background: $btnDisabled;
    color: $white;
    display: block;
    margin: auto;

    &:hover{
      background: $btnDisabled;
    }
  }
