@import '../../scss/variables';

.root {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background: $white;
    max-width: 370px;
    min-width: 100px;
    display: inline-block;

    img {
        border-radius: 50%;
        margin-bottom: 20px;
        width: 70px;
        height: 70px;
    }

    &>div {
        margin-bottom: 20px;
    }

    &>div:last-child {
        margin-bottom: 0px;
    }

    h2,
    p {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .name {
        white-space: nowrap;
    }

    .tooltip {
        position: relative;
        cursor: pointer;
    }

    .tooltip .tooltip__text {
        visibility: hidden;
        background: $black;
        color: $white;
        padding: 3px 16px;
        border-radius: 4px;
        max-width: 90%;
        overflow-wrap: break-word;

        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
    }

    .tooltip:hover .tooltip__text {
        visibility: visible;

    }
}