.root {
    margin-bottom: 150px;

    &>div>div {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 29px;
        grid-row-gap: 29px;

        @media (max-width: 833px) {
            // 833 = 29(оступ в грид сетке)+32*2(отступы контейнера)+370*2(максимальный размер грид элемента)
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 402px) {
            // 402 = 16*2(отступы контейнера) + 370(максимальный размер грид элемента), не уверен насчёт этой цифры
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .show {
        width: 120px;
        display: block;
        margin: auto;
    }
    .hide{
        // for show more button
        display: none;
    }
}

