@import '../../../scss/variables';

.root {
    width: 100%;
    max-width: 380px;
    margin:  0 auto 50px;
    display: flex;

    input[type="file"]{
        display: none;
    }


    label{
        padding: 14px 15px;
        color: $black;
        border: 1px solid $black;
        border-radius: 4px 0px 0px 4px;
        cursor: pointer;
    }

    span{
        width: 100%;
        max-width: 297px;
        border: 1px solid $formBorder;
        border-left: none;
        border-radius: 0px 4px 4px 0px;
        padding: 14px 0px 14px 15px;
        color: $formText;
    }

}
